In [1]:
import sqlite3

conn = sqlite3.connect('twitter.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE TAE
             ([generated_id] INTEGER PRIMARY KEY,[tweet_id] int64, [in_reply_to_status_id] float, [in_reply_to_user_id ] float)''')
                 
conn.commit()

# Note that the syntax to create new tables should only be used once in the code (unless you dropped the table/s at the end of the code). 
# The [generated_id] column is used to set an auto-increment ID for each record
# When creating a new table, you can add both the field names as well as the field formats (e.g., Text)

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
conn = sqlite3.connect('twitter.db')  # You can create a new database by changing the name within the quotes

cur = conn.cursor()
cur.execute("select * from TAE limit 5;")

results = cur.fetchall()
print(results)

[]

In [28]:
import csv, sqlite3

con = sqlite3.connect("twitter")
cur = con.cursor()
cur.execute('''CREATE TABLE wow ([generated_id] INTEGER PRIMARY KEY,[tweet_id] int64, [in_reply_to_status_id] float, [in_reply_to_user_id ] float)''') # use your column names here

with open('twitter-archive-enhanced.csv','rb','encoding = utf8') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['col1'], i['col2'],i['col3']) for i in dr]

cur.executemany("INSERT INTO wow (tweet_id, in_reply_to_status_id,in_reply_to_user_id) VALUES (?, ?,?);", to_db)
con.commit()
con.close()

TypeError: an integer is required (got type str)