In [2]:
import csv
import sqlite3
#A script to create and import a .csv into sqlite3

con = sqlite3.connect("twitter.db")
cur = con.cursor()
cur.execute("CREATE TABLE twitter_archive (id INTEGER PRIMARY KEY,tweet_id int64(50),"
            "in_reply_to_status_id float(10,2),in_reply_to_user_id float(10,2),timestamp datetime,source varchar(200),text varchar(300));")

with open('twitter-archive-enhanced-utf8.csv','r', encoding='utf-8') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['tweet_id'], i['in_reply_to_status_id'],i['in_reply_to_user_id'],i['timestamp'],i['source'],i['text']) for i in dr]

cur.executemany("INSERT INTO twitter_archive (tweet_id, in_reply_to_status_id, in_reply_to_user_id,timestamp,source,text) VALUES (?,?,?,?,?,?);", to_db)
con.commit()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [10]:
# open existing database
conn = sqlite3.connect('twitter.db')

c = conn.cursor()

c.execute('SELECT * FROM twitter_archive where id = 1)

SyntaxError: EOL while scanning string literal (<ipython-input-10-5a83782fd376>, line 6)

In [11]:
import sqlite3
import pandas.io.sql as sql
con = sqlite3.connect('twitter.db')
table = sql.read_sql('select * from twitter_archive where id = 1', con)
table.to_csv('wtf.csv')
print("Success")

Success

In [17]:
import pandas as pd
df = pd.read_csv('wtf.csv', encoding = 'utf-8')
df

,Unnamed: 0,id,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text
0,0,1,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...